/* Main Container */
.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;
    padding: 0 20px;
    background-color: transparent;
    z-index: 1000;
  }
.logo_toggle{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap:10px;
}
  
  /* Logo on the left */
  .logo {
    font-weight: bold;
    font-size: 22px;
    transition: 0.3s all ease;
  }
  
  /* Links for Desktop */
  .links {
    display: flex;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
  }
  .link:hover{
    transform: translateY(-5px);
    text-decoration: underline 2px solid #044663;
  }
  
  /* Mobile links sliding in/out */
  @media (max-width: 576px) {
    .links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      width: 250px;
      height: 100%;
      padding: 20px;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
    }
    .link:hover{
        transform: translateY(5px);
        text-decoration: underline 2px solid #063143;
        
    }
    .open {
      display: flex;
      border-left: 1px  solid #888;
      border-bottom: 1px  solid #888;
      background-color: aliceblue;
      color: #04253c;
      transform: translateX(0);
      top: 5px;
      right: 0px;
      margin: 0;    
      height: 100dvh;
    }
  }
  
  /* Hamburger Menu: Show on Mobile */
  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    width: 30px;
  }
  
  .hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: #888;
    margin: 4px 0;
    transition: 0.3s ease;
  }
  
  .barOpen {
    background-color: #4dadf1;
  }
  
  /* Transition effect for hamburger bars */
  .bar:nth-child(1) {
    transform-origin: top left;
  }
  
  .bar:nth-child(2) {
    opacity: 1;
  }
  
  .bar:nth-child(3) {
    transform-origin: bottom left;
  }
  
  .hamburger:hover .bar {
    background-color: #888;
  }
  
  /* Open menu animation */
  .hamburger .barOpen:nth-child(1) {
    transform: rotate(45deg);
  }
  
  .hamburger .barOpen:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger .barOpen:nth-child(3) {
    transform: rotate(-45deg);
  }
  
  @media (max-width: 576px) {
    .hamburger {
      display: flex;
    }
  }
  
  /* Adjustments for various screen sizes */
  @media (max-width: 768px) {
    .container {
      padding: 0 15px;
    }
    .logo {
      font-size: 18px;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      justify-content: space-between;
      height: auto;
      padding: 15px;
    }
    .logo {
      font-size: 20px;
    }
  }